<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>PortableCache</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="portable-cache" content="version=20131226, root-path=/portable-cache, debug-mode=yes">
    <meta itemprop="name" content="PortableCache">
    <meta itemprop="description" content="Cache assets, reduce downloads, load faster.">
    <meta itemprop="image" content="http://demo.agektmr.com/portable-cache/img/agektmr.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@agektmr">
    <meta property="og:type" content="product">
    <meta property="og:title" content="PortableCache">
    <meta property="og:url" content="http://demo.agektmr.com/portable-cache/">
    <meta property="og:image" content="http://demo.agektmr.com/portable-cache/img/agektmr.jpg">
    <meta property="og:description" content="Cache assets, reduce downloads, load faster.">
    <link rel="stylesheet" type="text/css" data-cache-url="assets/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" data-cache-url="assets/css/united.css">
    <script src="dist/portable-cache.js"></script>
    <style type="text/css">
      .profile {
        border-radius: 30px 30px;
        width: 60px;
        height: 60px;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
